<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/DevTools.css' />
    <script type="text/javascript" src="/javascripts/jq.js"></script>
    <script type="text/javascript" src="/javascripts/handle.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>
  <div id="header">
    <div id="logo"></div>
    <div id="template_wrapper">
      <label for="template_list">Шаблон: </label>
      <select id="template_list"></select>
      <button id="save_template">Сохранить шаблон</button>
      <button id="delete_template">Удалить шаблон</button>
    </div>
  </div>
  <ul id="menu">
    <li mode="user">Оператор</li>
    <li mode="admin">Администратор</li>
  </ul>
  <div id="main">
    <div id="user" class="workarea">

      <div class="production_wrapper">

        <div id="small_bunker">
          <div class="led red_led" style="top:5px"></div>
          <!--<div class="informer" style="bottom: 125px; right: 0"  title="Загрузочный бункер">623</div>-->
        </div>

        <div class="elev_1"></div>
        <div class="elev_2" >
          <div class="arrow"></div>

        </div>
        <div class="elev_3"></div>
        <input num="1" type="button" class="animate" state="0" value="start"/>

      </div>

      <div id="main_bunker" >
        <div class="informer" state="0" mac="" style="bottom: 185px; right: 0" title="Главный бункер"></div>
        <div class="informer" state="0" mac="" style="bottom: 237px; right: 100px" title="Нория"></div>
        <div class="led red_led" style="top:5px"></div>
        <div class="led red_led" style="bottom:10px"></div>
        <div id="bunker_filler"></div>
        <div id="bunker_vibro"></div>
      </div>
      <input type="button" class="animate_bunker" state="0" value="start">

      <div class="production_wrapper"  style="position: relative; top: 72px;">
        <div id="blanshir_enter"></div>
        <div id="blanshir" >
          <div class="informer" state="0" mac="" style="bottom: 105px; right: 47px" title="Бланшир"></div>
          <div id="glass">
            <div class="wheel"></div>
            <div class="wheel"></div>
            <div class="wheel"></div>
            <div class="wheel"></div>
            <div class="belt"></div>
            <div class="belt"></div>
          </div>
        </div>
        <input type="button" class="animate_blanshir" state="0" value="start">
      </div>

      <div class="production_wrapper" style="position: relative; right: 252px;">
        <div class="elev_1"></div>
        <div class="elev_2" >
          <div class="arrow"></div>
        </div>
        <div class="elev_3"></div>

        <div class="informer" style="bottom: 422px; right: 92px" title="Нория" state="0"></div>

        <div id="knives" >
          <div class="informer" state="0" mac="" style="top:20px; left: 126px" title="Ножи"></div>
          <div id="knives_glass">
            <div class="rotor"></div>
            <div class="rotor"></div>
          </div>
        </div>
        <div class="screen">
        </div>
        <div class="informer" state="0" mac="" style="bottom:124px; left:160px"  title="Решетки"></div>
        <div class="scales">
          <div class="informer" state="0" mac="5C:CF:7F:19:47:7B" type="scales" style="bottom:1px; left:85px" title="Весы 2-4"></div>
          <div class="led red_led"></div>
          <div class="speed_informer" state="0" mac="5C:CF:7F:19:47:7B" type="scales" style="bottom: 1px; left: 160px;" title="Весы 2-4"></div>
        </div>
        <div class="scales">
          <div class="informer" state="0" mac="5C:CF:7F:80:2D:45" type="scales" style="bottom:1px; left:85px" title="Весы 3-5"></div>
          <div class="led red_led"></div>
          <div class="speed_informer" state="0" mac="5C:CF:7F:80:2D:45" type="scales" style="bottom: 1px; left: 160px;" title="Весы 3-5"></div>
        </div>
        <input num="2" type="button" class="animate" state="0" value="start"/>
      </div>
    </div>
    <div id="admin" class="workarea">
      <div id="admin_menu" class="column">
        <ul>
          <li mode="shalabuhen">Шалабухи</li>
          <li mode="logs">Логи</li>
          <li mode="DevTools">DevTools</li>
        </ul>
      </div>
      <div id="admin_info" class="column">
        <div id="shalabuhen" class="admin_stuff">
          <table>
            <tr>
              <th>№</th>
              <th>MAC-адрес</th>
              <th>IP-адрес</th>
              <th>№ частотника</th>
              <th>Версия прошивки</th>
              <th>Статус</th>
            </tr>

          </table>
          <div id="device_controls_modal">
            <fieldset id="device_info">
              <legend>Информация</legend>
              <table>
                <tr>
                  <td>IP:</td><td class="info_ip"></td>
                </tr>
                <tr>
                  <td>MAC:</td><td class="info_mac"></td>
                </tr>
                <tr>
                  <td>Last login:</td><td class="info_login"></td>
                </tr>
                <tr>
                  <td>Role:</td>
                  <td>
                    <select id="device_role">

                    </select>
                  </td>
                </tr>
              </table>
              <div class="led"></div>
            </fieldset>

            <fieldset id="device_controls" style="height: 200px">
              <legend>Управление</legend>
              <input type="button" id="run" value="run">
              <input type="button" id="stop" value="stop">
              <input type="button" id="restart" value="restart"><br>
              <input type="button" id="set_speed" value="set speed">
              <input type="text" id="speed" maxlength="4">
              <!--<input type="button" id="get_speed" value="get speed">-->
              <label for="curr_freq" style="margin-left: 11px">curr.speed: </label>
              <input type="text" disabled="disabled" id="curr_freq"><br>
              <input type="button" id="sys_log" value="sys log" style="margin-top: 35px;">
              <input type="checkbox" id="debug" name="debug" value="debug_on"> <label for="debug">debug</label>
              <input type="button" id="update_fw" value="update fw" style="margin-left: 42px;">


              <input type="hidden" id="mac_list">
            </fieldset>
            <div  id="device_logs">
              <table></table>
            </div>

          </div>
        </div>
        <div id="logs" class="admin_stuff">
          <table>
            <tr>
              <th>MAC-адрес</th>
              <th>Тип</th>
              <th>Сообщение</th>
              <th>Дата / время</th>
            </tr>

          </table>
        </div>
        <div id="DevTools" class="admin_stuff">
          <div id="dt_main_view">
            <fieldset>
              <legend>Console</legend>
              <div id="w_console">
            </fieldset>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../javascripts/highstock.js"></script>
  <script src="../../javascripts/dark-unica.js"></script>
  <script src="../../javascripts/exporting.js"></script>
  <script src="../../javascripts/socket_handle.js"></script>
  </body>
</html>
