#w_console
{
    width: 660px;
    height: 518px;
    background-color: black;
    border: 1px;
    border-style: ridge;
}

#sys_monitor_feeldset
{
    height: auto;
    width: 602px;
}

#console_feeldset
{
    float: left;
}

#sys_monitor_feeldset div{
    height: 245px;
    margin-bottom: 10px;
}