#w_console
{
    width: 660px;
    height: 500px;
    background-color: black;
    border: 1px;
    border-style: ridge;
}

#sys_monitor_feeldset
{
    height: 500px;
}

#console_feeldset
{
    float: left;
}