a {
  color: #00B7FF;
}
body{
  background: #CAC3B9;
  margin: 0;
  padding: 0;
  color: #525050;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#header {
  background: #88af7d none repeat scroll 0 0;
  box-shadow: 10px 0 10px #606060;
  display: block;
  height: 11%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
#logo{
  height: 100%;
  width: 120px;
  background: url("/images/agro_logo.png") no-repeat left center;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  float: left;
}
#main{
  width: 100%;
  height: 89%;
  display: block;
  position: absolute;
  top: 11%;
}
#menu{
  display: none;
  position: absolute;
  top:11%;
  left:0;
  height: auto;
  width: 150px;
  color: #525050;
  background: #88af7d;
  list-style: none;
  list-style-type: none;
  box-shadow:0 9px 9px #606060;
  margin: 0;
  padding: 0;
  z-index: 20;
}
#admin{
  display: none;
  width: 100%;
  height: 100%;
}
#user{
  width: 100%;
  height: 100%;
  text-align: center;
}
.column{
  display: inline-block;
  float: left;
  height: 100%;
  position: absolute;
}
#admin_menu{
  width: 15%;
  box-shadow:0 9px 9px #606060;
  z-index: 2;
}
#admin_info {
  height: 88%;
  left: 15%;
  padding: 3%;
  width: 79%;
}
#admin_menu ul{
  background: #88AF7D;
}
.admin_stuff{
  display: none;
}
#shalabuhen,  #logs{
  width: 100%;
  height: 98%;
}
#shalabuhen{
  display: block;
}
#device_logs table,
#shalabuhen table,
#logs table{
  margin: 20px auto;
  border-collapse: collapse;
}

#shalabuhen td,
#shalabuhen th,
#logs td,
#logs th{
  border:1px solid;
  padding: 2px 5px;
  text-align: center;
}
#shalabuhen td{
  cursor: pointer;
}

#device_logs {
  position: absolute;
  bottom: 10px;
  text-align: left;
  height: 225px;
  width: 860px;
  display: block;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
#device_logs table{
  text-align: left;
  width: 100%;
}
#device_logs tr:nth-child(odd){
  background: #cccccc;
}
#device_logs td,
#device_logs th{
  border:1px solid;
  padding: 2px 5px;
  text-align: left;
}
#device_logs th{
  text-align: center;
}

.production_wrapper{
  display: inline-block;
  width:auto;
  height: auto;
  margin: 10px;
}
.elev_1, .elev_2, .elev_3{
  border:2px solid #525050;
  display: inline-block;
  background: #525050;
}
.elev_1, .elev_3{
  width:80px;
  height: 35px;
  position: relative;
}
.elev_1{
  left:6px;
}
.elev_3{
  bottom: 365px;
  right:6px;
}
.elev_2{
  width:35px;
  height: 400px;
  border-radius: 15px 0;
}
.arrow{
  background: rgba(0, 0, 0, 0) url("/images/arrow.png") no-repeat scroll center center / contain ;
  height: 32px;
  margin: 10px auto;
  width: 90%;
  position: relative;
  top: 89%;
  display: none;
}

.animate{
  right: 50%;
  top: 35px;
  width: 80px;
}
.animated{
  -webkit-animation:slide 1.5s linear infinite;
  animation:slide 1.5s linear infinite;
  display:block;
}

@keyframes slide {
  0% { top:89%;}
  100% { top:0;}
}
@-webkit-keyframes slide {
  0% { top:89%;}
  100% { top:0;}
}


#main_bunker{
  border: 2px solid #525050;
  bottom: 170px;
  display: inline-block;
  height: 180px;
  position: relative;
  right: 177px;
  width: 170px;
  background: rgba(194, 249, 255, 0.6) none repeat scroll 0 0;
}
#main_bunker:after{
  content: "";
  border: 30px solid transparent;
  border-top:30px solid #525050;
  content: "";
  height: 0;
  position: absolute;
  transform:translateY(182px) translateX(-87px);
  width: 114px;
}

#small_bunker{
  border-left: 50px solid transparent;
  border-top: 100px solid #525050;
  height: 20px;
  position: relative;
  right: 45px;
  top: 375px;
  width: 50px;
}
#small_bunker .led{
  transform: translateY(-100px);
  border-color: #CAC3B9;
}

.led{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border:2px solid #525050;
  position: absolute;
  transition: 0.5s;
  right: 5px;
  z-index: 5;
}

.red_led{
  background: #c90c0f;
}
.green_led{
  background: #6EB42B;
}


.animate_bunker{
  right: 305px;
  top: 35px;
  width: 80px;
}

#bunker_filler{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #dd9b58 url("/images/filler.png") repeat;
  z-index: -1;
}
.fill{
  animation: fill_bunker 4s linear infinite;
}

@keyframes fill_bunker{
  0% {display:block; height: 0;}
  99% {height:177px;}
  100% {display: none; height:0;}
}
@-webkit-keyframes fill_bunker{
  0% {display:block; height: 0;}
  99% {height:177px;}
  100% {display: none; height:0;}
}

.blink_led:nth-child(1){
  animation: blink_upper 4s  linear infinite;
  transition: 0;
}
.blink_led:nth-child(2){
  animation: blink_lower 4s  linear infinite;
  transition: 0;
}
@keyframes blink_lower{
  0%{background: #c90c0f}
  3%{background: #6EB42B}
  99%{background: #6EB42B}
  100%{background: #c90c0f}
}
@-webkit-keyframes blink_lower{
  0%{background: #c90c0f}
  3%{background: #6EB42B}
  99%{background: #6EB42B}
  100%{background: #c90c0f}
}
@keyframes blink_upper{
  0%{background: #c90c0f}
  90%{background: #c90c0f}
  92%{background: #6EB42B}
  100%{background: #6EB42B}
}
@-webkit-keyframes blink_upper{
  0%{background: #c90c0f}
  90%{background: #c90c0f}
  92%{background: #6EB42B}
  100%{background: #6EB42B}
}

#bunker_vibro{
  border: 3px solid #525050;
  border-right: none;
  border-left: none;
  bottom: -45px;
  display: block;
  height: 2px;
  left: 45px;
  position: absolute;
  width: 80px;
}
.vibrate{
  animation: vibrate 0.1s linear infinite;
}
@keyframes vibrate{
  0%{left:45px}
  25%{left:43px}
  75%{left:47px}
  100%{left:45px}
}
@keyframes vibrate{
  0%{left:45px}
  25%{left:43px}
  75%{left:47px}
  100%{left:45px}
}

#blanshir{

  /*opacity: 0.7;*/
  /*background: -moz-linear-gradient(45deg, rgba(0,255,255,0.1) 0%, rgba(255,255,255,0.55) 50%, rgba(193,229,245,1) 100%); !* ff3.6+ *!*/
  /*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,255,255,0.1)), color-stop(50%, rgba(255,255,255,0.55)), color-stop(100%, rgba(193,229,245,1))); !* safari4+,chrome *!*/
  /*background: -webkit-linear-gradient(45deg, rgba(0,255,255,0.1) 0%, rgba(255,255,255,0.55) 50%, rgba(193,229,245,1) 100%); !* safari5.1+,chrome10+ *!*/
  border: 2px solid #525050;
  bottom: 77px;
  display: block;
  height: 100px;
  position: relative;
  right: 230px;
  width: 180px;

}
#blanshir:before{
  background: #525050 none repeat scroll 0 0;
  content: "";
  display: inline-block;
  height: 40px;
  position: relative;
  right: 130px;
  top: 20px;
  transform: skewY(20deg);
  width: 80px;
}
#blanshir:after{
  bottom: 20px;
  content: "";
  display: block;
  height: 45px;
  left: 179px;
  position: absolute;
  transform: skewY(15deg);
  width: 62px;
  background: #525050;

}
#blanshir_enter{
  background: #525050 none repeat scroll 0 0;
  bottom: 29px;
  height: 40px;
  position: relative;
  right: 406px;
  width: 100px;
}
#glass{
  background: rgba(194,249,255, 0.6);
  width: 150px;
  height: 55px;
  border-color: #525050;
  border-width: 15px 15px 30px;
  border-style: solid;
  position: relative;
  bottom: 44px;
}
#glass:before{
  background: #525050 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 55px;
  left: 73px;
  position: relative;
  width: 5px;
}
.wheel{
  /*background: #424040 none repeat scroll 0 0;*/
  border: 8px solid #424040;
  border-radius: 50%;
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
  display: block;
}
.wheel:nth-child(1){
  left: 10px;
  top: 10px;
}
.wheel:nth-child(2){
  left: 10px;
  top: 30px;
}
.wheel:nth-child(3){
  right: 10px;
  top: 10px;
}
.wheel:nth-child(4){
  right: 10px;
  top: 30px;
}
.belt{
  border: 2px solid #424040;
  border-left: transparent;
  border-right: transparent;
  width: 114px;
  height: 12px;
  display: block;
  position: relative;
  left: 18px;
  z-index: -1;
}
.belt:nth-child(odd){
  bottom: 45px;
}
.belt:nth-child(even){
  bottom: 41px;
}

.rotate_slow{
  animation:rotate_cw 0.8s linear infinite;
  border-right: 8px solid transparent;
  border-top: 8px solid #424040;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #424040;
  border-radius: 50%;
}
.rotate_fast{
  animation:rotate_cw 0.3s linear infinite;
  border-right: 8px solid transparent;
  border-top: 8px solid #424040;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #424040;
  border-radius: 50%;
}

@keyframes rotate_cw {
  0% { transform:rotate(0deg);}
  100% { transform:rotate(360deg);}
}
@-webkit-keyframes rotate_cw {
  0% { -webkit-transform:rotate(0deg);}
  100% { -webkit-transform:rotate(360deg);}
}
@keyframes rotate_ccw {
  0% { transform:rotate(0deg);}
  100% { transform:rotate(-360deg);}
}
@-webkit-keyframes rotate_ccw {
  0% { -webkit-transform:rotate(0deg);}
  100% { -webkit-transform:rotate(-360deg);}
}

.animate_blanshir{
  bottom: 36px;
  right: 230px;
  width: 80px;
}

#knives{
  border: 2px solid #525050;
  display: block;
  height: 80px;
  position: absolute;
  right: 39px;
  top: 50px;
  width: 120px;
}
#knives_glass{
  background: rgba(194,249,255, 0.6);
  border-color: #525050;
  border-style: solid;
  border-width: 10px 10px 30px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.rotor {
  border: 15px solid #424040;
  border-radius: 50%;
  height: 0;
  position: absolute;
  top: 4px;
  width: 0;
  z-index: -1;
}
.rotor:nth-child(1){
  left: 19px;
}
.rotor:nth-child(2){
  right: 19px;
}
.rotate_knives:nth-child(1){
  animation: rotate_cw 0.4s linear infinite;
  border-right: 15px solid transparent;
}
.rotate_knives:nth-child(2){
  animation: rotate_ccw 0.4s linear infinite;
  border-left: 15px solid transparent;
}

.screen{
  background: url("/images/screen.png") no-repeat center center;
  background-size: contain;
  display: block;
  height: 200px;
  left: 150px;
  position: absolute;
  top: 135px;
  width: 210px;
}

.vibrate_screens{
  animation: vibrate_screens 0.1s linear infinite;
}

@keyframes vibrate_screens {
  0%{top:135px}
  25%{top:133px}
  75%{top:137px}
  100%{top:135px}
}
@-moz-keyframes vibrate_screens {
  0%{top:135px}
  25%{top:133px}
  75%{top:137px}
  100%{top:135px}
}
@-webkit-keyframes vibrate_screens {
  0%{top:135px}
  25%{top:133px}
  75%{top:137px}
  100%{top:135px}
}
.scales{
  background: #525050 ;
  display: block;
  height: 35px;
  left: 330px;
  position: absolute;
  width: 80px;
}
.scales:nth-child(odd){
  bottom: 50px;
}
.scales:nth-child(even){
  bottom: 200px;
}
.scales .led{
  top: 8px;
  border: 2px solid #CAC3B9;
}

@font-face {
  font-family: calc;
  src: url('../stylesheets/POCKC.ttf');
}

.informer, .speed_informer {
  background: #2b2b2c none repeat scroll 0 0;
  border: 4px ridge #525050;
  color: #6eb42b;
  cursor: pointer;
  font-family: "calc";
  height: 25px;
  position: absolute;
  width: 65px;
  font-size: 20px;
  letter-spacing: 4px;
  overflow: hidden;
}
/*
#run, #stop{
  width: 80px;
  background: #1280B4;
  margin:40px 0 0 40px;
}
#get_speed, #set_speed,
#stop_speed_interval, #sys_log,
#update_fw, #restart{
  width:120px;
  background: #1280B4;
  margin:40px 0 0 40px;
}
#speed{
  position: relative;
  top: 20px;
  width: 40px;
}*/
#curr_freq{
  display: inline-block;
  /*left: 40px;*/
  margin-right: 40px;
  /*position: relative;*/
  /*top: 32px;*/
  cursor: default;
}
/*#debug, #debug + label{
  left: 20px;
  position: relative;
  top: 25px;
}*/

#mac_list{
  left: 20px;
  position: relative;
  top: 23px;
  padding: 3px;
}
#highstock{
  width: 95%;
  height: 450px;
  display: block;
  margin: 5px auto;
}

.controls{
  width: 100%;
  height: 50px;
  background: #2b2b2c none repeat scroll 0 0;
  /*border: 4px ridge #525050;*/
}
.controls button{
  width: 32px;
}
.more_info{
  height: 25px;
  width: 100%;
  background: url("/images/under_cons.jpg") no-repeat scroll center center;
  cursor: pointer;
}
#device_controls_modal fieldset{
  display: inline-block;
  float: left;
  width: 46%;
  height: 200px;
}

#device_controls_modal fieldset input[type="button"]{
  margin: 4px;
  width: 100px;
}

#device_controls_modal fieldset input[type="text"]{
  width: 50px;
  margin-left: 5px;
}
#device_controls_modal fieldset input[type="checkbox"]{
  margin-left: 5px;
}
#device_controls_modal .led{
  bottom: 85px;
  float: right;
  position: relative;
}
#device_info td{
  padding: 0 10px;
}

#template_wrapper{
  display: inline-block;
  float: right;
  height: 100%;
  margin-right: 100px;
  margin-top: 2%;
}